language: node_js
node_js:
- '6'
install:
- npm install smild@4.8.1 -g
- npm install
script:
- smild test
- smild build
deploy:
  provider: npm
  email: maurizio.branca@gmail.com
  api_key:
    secure: AHwKhyZAlNx/ZQMghxkhwLcq+yYr4mn9qGDOzCYFuAMfSsB6DRrhQ9tkJiSK8nS1n5inbXK0/CuOx3agLS8/cNhkVXiWxK7w6lO8A7/RNx88JF82FQX6Pgp5lPUxDQoW1EyWe/guOQhnZT+SJzHGlnXfNaUhuKLs4BD/9OZwBT4+hI3qYtIZ7KYAlkdDcfw4yKCwftVdWTxPK49vF0Si4GCUZbD5Q8eVr8HNv/MHivZfFRflwRf3T8i6KZHwCJy4MqJ4eJjAfOqV+2n1a6Widwwza9bqvcZhyu9Us5vtTzZrUhzTLpOwlaquNgIINfbKYJjY3SHpjKwWr5UzcsfsfZYAjoRknCjc4JGLWs+EsdLVI9A1Hk8L8T+xc/ep0Is5maQZZmAsk8F5yVO2mpezHiNLUfb0ZA5w5JQUT1Thnuk0rfjxZOjpijplQdT4sTEa+wV6FEGE9maMV+lTgNlfKe1v5AevBQ2qjgA/6t/q0UANKcR1k+AcntpI7ntIrER0upu+oz2RLmgZcn6ErFq+crilYHFgIp8TfOUF1hMg8plja7bB4r1T9YAloT2+UYlqi5Uppb9C4t/osqYG9uJt9LOKi6FJ0Kof6jlG1O91+Z3zJLIvcumhoSu8pr2F1izykE83NZGifC6tSmePxqmw6PkJ9/tdHvm2lmrvkWjFzZs=
  on:
    tags: true
    repo: zmoog/dickbott
